*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'DragonSlayer';
    src: URL("../src/general_format/DragonSlayer-2Oe7d.ttf") format('truetype');
}

body {
    font-family: DragonSlayer;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

img {
    display: block;
    width: 100%;
    
}

.centre {
    display:block;
    text-align: center;
}

.startButton {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: absolute;
    transition-property: width;
    transition-duration: 1s;
    transform: (-50%, -50%);
    top: 50%;
    left: 50%;
}

.startButton:hover {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: absolute;
}

#crossedSwords {
    display: flex;
    filter: grayscale(100%);
    mix-blend-mode: lighten;
    position: absolute;
    z-index: -1;
    width: 20%;
    opacity: 0.3;
    transform: (-50%, -50%);
    top: 50%;
    left: 50%;
}

.titleFormat1 {
    opacity: 1;
    display: block;
    color: white;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}