*, *::before, *::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px transparent;
    border: solid 5px transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(80, 80, 80);
    border: solid 5px transparent;
    border-radius: 50px;
}

::-webkit-scrollbar-corner {
    display: none;
}

body {
    background-color: rgb(40, 40, 40);
    scrollbar-gutter: stable;
}

a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
a:hover { 
    text-decoration: none; 
} 
a:active { 
    text-decoration: none; 
}

/* Fonts */
@font-face {
    font-family: 'bookMania-reg';
    src: URL("../src/general_format/bookmania-regular.ttf") format('truetype');
}

@font-face {
    font-family: 'bookMania-bold';
    src: URL("../src/general_format/bookmania-bold.ttf") format('truetype');
}

.playerIcon {
    top: 50%;
    left: 50%;
    transform: translate(-53%, -53%);
    position: absolute;
    display: block;
    width: 85%;
    height: 85%;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M10.997 17.499c0-1.29.375-2.49 1.022-3.501H6.25A2.25 2.25 0 0 0 4 16.248v.92c0 .572.178 1.13.51 1.596c1.403 1.968 3.617 3.034 6.58 3.21l.522-1.713a6.5 6.5 0 0 1-.615-2.762M11.998 2a5.001 5.001 0 1 1 0 10.002a5.001 5.001 0 0 1 0-10.002M23 17.499a5.5 5.5 0 0 1-8.168 4.813l-2.187.665a.5.5 0 0 1-.624-.624l.666-2.187A5.501 5.501 0 1 1 23 17.498m-7.501-1.5a.5.5 0 1 0 0 1h4a.5.5 0 1 0 0-1zm-.5 2.5a.5.5 0 0 0 .5.5h2a.5.5 0 1 0 0-1h-2a.5.5 0 0 0-.5.5'/%3E%3C/svg%3E");
    background-color: rgb(40, 40, 40);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.inventoryIcon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
    position: absolute;
    display: block;
    width: 100%;
    height: 90%;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2a3.75 3.75 0 0 0-3.736 3.424A8 8 0 0 0 4 12.5V14h16v-1.5a8 8 0 0 0-4.264-7.076A3.75 3.75 0 0 0 12 2m8 13.714H9.5v1.536a.75.75 0 0 1-1.5 0v-1.536H4v3.036A3.25 3.25 0 0 0 7.25 22h9.5A3.25 3.25 0 0 0 20 18.75zM12 4.5c-.698 0-1.374.09-2.02.257a2.25 2.25 0 0 1 4.04 0A8 8 0 0 0 12 4.5m-4 5.917A2.417 2.417 0 0 1 10.417 8h3.166A2.417 2.417 0 0 1 16 10.417C16 11.29 15.291 12 14.417 12H9.583A1.583 1.583 0 0 1 8 10.417m2.417-.917a.917.917 0 0 0-.917.917c0 .046.037.083.083.083h4.834a.083.083 0 0 0 .083-.083a.917.917 0 0 0-.917-.917z'/%3E%3C/svg%3E");
    background-color: rgb(40, 40, 40);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.menuIcon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 18h11c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1m0-5h8c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1M3 7c0 .55.45 1 1 1h11c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1m17.3 7.88L17.42 12l2.88-2.88a.996.996 0 1 0-1.41-1.41L15.3 11.3a.996.996 0 0 0 0 1.41l3.59 3.59c.39.39 1.02.39 1.41 0c.38-.39.39-1.03 0-1.42'/%3E%3C/svg%3E");
    background-color: rgb(40, 40, 40);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

/* Scene formatting */
.sceneDiv {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sceneimg {
    position: relative;
    width: 100%;
    border-radius: 30px;
    z-index: 0;
}

/* Chat view fomatting */
#chatView {
    position: absolute;
    margin: 2.5%;
    width: 35%;
    height: 85%;
    border-radius: 20px;
    z-index: 1;
    background-color: rgb(40, 40, 40);
}

#text {
    overflow-y: scroll;
    width: calc(100% - 16px);
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 15%;
    padding-top: 10px;
    margin-left: 16px;
}

.PCChat {
    font-style: italic;
    font-family: bookMania-reg;
    color: white;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 40px;
}

.NPCChat {
    font-style: italic;
    text-align: right;
    font-family: bookMania-reg;
    color: white;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 20px;
}

.PCNameplate {
    font-family: bookMania-bold;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 0px;
}

.NPCNameplate {
    text-align: right;
    font-family: bookMania-bold;
    color: white;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.narNameplate {
    text-align: center;
    max-width: fit-content;
    font-family: bookMania-bold;
    color: white;
    background-color: rgb(60, 60, 60);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}

.nar {
    text-align: center;
    max-width: fit-content;
    font-family: bookMania-normal;
    color: white;
    background-color: rgb(60, 60, 60);
    padding: 4%;
    padding-top: 45px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

/* Inventory */
:root {
    --inventorySize: calc(100/18 * 100%);
}

#inventoryButton {
    display: block;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    bottom: 0;
    width: 18%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 3;
    background-color: rgb(60, 60, 60);
    transform: translate(-50%, 50%);
    box-shadow: 0px 0px 4px 2px rgb(30, 30, 30) ;
}

#inventory {
    display: none;
    position: absolute;
    flex-wrap: wrap;
    width: calc(100/18 * 100%);
    bottom: 120%;
    margin-left: calc(100/18 * 100% * 0.39);
    translate: -50%;
}

#inventory:hover > .invItem, #inventoryButton:hover .invItem {
    position: absolute;
    max-width: 40%;
    width: unset;
    aspect-ratio: 1/1;
    background-color: rgb(60, 60, 60);
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-family: bookMania-reg;
    margin: 10%;
    overflow-y: overlay;
    border: none;
    bottom: unset;
    box-shadow: 0px 0px 5px 3px rgb(30, 30, 30) ;
    margin-bottom: none;
}

#inventoryButton:hover > #inventory {
    display: block;
}

.invItem:hover {
    position: absolute;
    max-width: 40%;
    width: unset;
    aspect-ratio: 1/1;
    background-color: rgb(60, 60, 60);
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-family: bookMania-reg;
    margin: 10%;
    overflow-y: overlay;
    border: none;
    bottom: unset;
    box-shadow: 0px 0px 5px 3px rgb(30, 30, 30) ;
    margin-bottom: none;
}

.invItem {
    display: inline-block;
    position: absolute;
    width: calc(100% / 3);
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: transparent;
    background-color: transparent;
    border: none;
    margin-bottom: -100%;
    transform: translateY(50%);
    transition: all 1s allow-discrete;
}

#menuButton {
    display: block;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 80%;
    bottom: 0;
    width: 18%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 3;
    background-color: rgb(60, 60, 60);
    transform: translate(-50%, 50%);
    box-shadow: 0px 0px 4px 2px rgb(30, 30, 30) ;
}

/* Input UI */
#inputUICover {
    display: block;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    bottom: 0;
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 3;
    background-color: rgb(60, 60, 60);
    transform: translate(-50%, 50%);
    box-shadow: 0px 0px 4px 2px rgb(30, 30, 30) ;
}

#inputUI {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300%;
    height: 300%;
    bottom: 100%;
    margin-left: 50%;
    translate: -50%;
    columns: 50%, 2;
}

#inputUI:hover > .btn {
    position: relative;
    max-width: 40%;
    width: unset;
    aspect-ratio: 1/1;
    background-color: rgb(60, 60, 60);
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-family: bookMania-reg;
    margin: auto;
    overflow-y: overlay;
    border: none;
    bottom: unset;
    box-shadow: 0px 0px 5px 3px rgb(30, 30, 30) ;
}

#inputUICover:hover .btn {
    position: relative;
    max-width: 40%;
    width: unset;
    aspect-ratio: 1/1;
    background-color: rgb(60, 60, 60);
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-family: bookMania-reg;
    margin: auto;
    overflow-y: overlay;
    border: none;
    bottom: unset;
    box-shadow: 0px 0px 5px 3px rgb(30, 30, 30) ;
}

#inputUICover:hover > #inputUI {
    display: flex;
}

.btn:hover {
    position: relative;
    max-width: 40%;
    width: unset;
    aspect-ratio: 1/1;
    background-color: rgb(60, 60, 60);
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-family: bookMania-reg;
    margin: auto;
    overflow-y: overlay;
    border: none;
    bottom: unset;
    box-shadow: 0px 0px 5px 3px rgb(30, 30, 30) ;
}

.btn {
    position: absolute;
    width: calc(100% / 3);
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: transparent;
    background-color: transparent;
    border: none;
    margin-bottom: -100%;
    transform: translateY(50%);
    transition: all 1s allow-discrete;
}